@font-face {
    font-family: "Quinque";
    src: url("/fonts/QuinqueFive.woff2") format("woff2"),
        url("/fonts/QuinqueFive.woff") format("woff");
}

body {
    font-size: 12px;
    font-family: "Quinque";
    position: relative;
    background-color: #e3e4eb;
}

/* Theme styles */

#theme-switcher-form div:nth-child(1) label {
    background-color: #eee;
}
#theme-switcher-form div:nth-child(2) label {
    background-color: #353535;
}
#theme-switcher-form div:nth-child(3) label {
    background-color: #813151;
}

:root {
    --bg-primary: #243642;
    --fg-primary: #e2f1e7;
    --fg-secondary: #eee;
    --link-primary: #e2f1e7;
    --link-hover: #4d8ac3;
    --table-text: #e2f1e7;
    --table-group1: #387478;
    --table-group2: #38747890;
    --echlevel-color: var(--link-primary);
    --echlevel-bg: #629584;
    --echlevel-shadow: #888;
    --enchantment-results: #387478;
    --enchantment-buttons: #243642;
    --progress-color: #f1a32f;
    --error: #f90601;
    --phone-warn: #e7cc03;
    --solution: #03ad5f;
}

/* TODO: fix enchantment results variable name, misnomer */

.selectItem:focus,
.selectLanguage:focus {
    outline: none;
}

body {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
}

body h1,
body h2 {
    color: var(--fg-primary);
}

body .logo {
    margin-top: 1rem;
    font-family: "Quinque";
    font-size: 2.5rem;
}

.selectItem {
    appearance: none;
    font-size: 14px;
    font-family: "Quinque";
    background-color: var(--table-group1);
    color: var(--table-text);
    background-size: 12px 12px;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.inner {
    margin: 30px auto;
    width: 1000px;
    padding-bottom: 30px;
    overflow: auto;
}

a {
    color: var(--link-primary);
}

a:hover {
    color: var(--link-hover);
}

#enchants {
    width: 32rem;
}

.tableContainer {
    height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 32rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.tableContainer::-webkit-scrollbar {
    width: 0rem;
}

#enchants table {
    border-spacing: 0rem;
    border-radius: 3rem;
    height: 20rem;
    overflow-y: scroll;
}

#enchants table button {
    border-radius: 0.5rem;
}

#enchants td {
    padding: 1rem;
}

#enchants tr.group1 td {
    color: var(--table-text);
    background-color: var(--table-group1);
}

#enchants tr.group2 td {
    color: var(--table-text);
    background-color: var(--table-group2);
}

#enchants td i {
    font-size: 12px;
}

#enchants button {
    border: none;
    font-family: "Quinque";
    background-color: var(--echlevel-bg);
    padding: 10px;
    color: var(--echlevel-color);
    border-radius: 0.75rem;
    cursor: pointer;
}

#enchants button.on {
    color: var(--echlevel-bg);
    background-color: var(--fg-primary);
}

#calculate {
    padding: 8px;
    font-size: 120%;
}

#left {
    width: 400px;
    float: left;
    margin-right: 10rem;
    margin-top: 3rem;
}

#overrides {
    background-color: #387478;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

#overrides label {
    cursor: pointer;
}

#right {
    margin-top: 3rem;
    width: 25rem;
    float: left;
}

#mode_selection {
    background-color: #387478;
    padding: 1rem;
    border-radius: 1rem;
}

#mode_selection label {
    cursor: pointer;
}

#progress {
    margin-top: 40px;
    line-height: 20px;
    background-color: var(--progress-color);
    padding: 20px;
}

#progress img {
    vertical-align: middle;
}

#error {
    margin-top: 40px;
    line-height: 20px;
    background-color: var(--error);
    padding: 20px;
}

#phone-warn {
    margin-top: 40px;
    line-height: 20px;
    background-color: var(--phone-warn);
    padding: 20px;
}

#solution {
    background-color: var(--solution);
    padding: 1rem;
    margin-top: 1rem;
    height: 22rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#solution::-webkit-scrollbar {
    width: 0rem;
}

#solution h2 {
    margin-block-start: 0;
}

#steps li {
    margin: 1rem;
    font-size: 0.6rem;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 10px;
    }

    .inner {
        width: auto;
        max-width: 100%;
        margin-top: 0;
    }

    h1 {
        font-size: 24px;
    }

    #left {
        width: auto;
        float: none;
        margin-right: 0;
    }

    #right {
        width: auto;
        float: none;
    }

    #enchants {
        width: auto;
    }
}

#xp-range-note {
    margin-top: 2em;
    font-size: 12px;
}

/* Top container */
.top-container {
    float: right;
    height: 3rem;
    display: flex;
}

.selectLanguage {
    appearance: none;
    font-size: 14px;
    font-family: "Quinque";
    width: auto;
    height: 3rem;
    background-color: var(--table-group1);
    color: var(--table-text);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

#theme-switcher-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px; /* Adjust the width as needed */
    margin: auto; /* Center form */
}

#theme-switcher-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theme-switcher-form input[type="radio"] {
    display: none;
    outline: 1px solid var(--fg-secondary);
}

#theme-switcher-form label {
    width: 25px;
    height: 25px;
    background: #ccc; /* Default background no one's ever going to see */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#theme-switcher-form input[type="radio"]:checked + label {
    outline: 2px solid var(--fg-primary);
}

@media only screen and (max-width: 422px) {
    .footer {
        text-align: center;
    }

    .footer * {
        margin-right: auto;
        margin-left: auto;
    }

    .dark-mode-toggle-container {
        margin-top: 12px;
    }
} /* smol screens */

@media only screen and (min-width: 423px) {
    .footer {
        text-align: right;
    }

    .footer * {
        display: inline-block;
    }

    .dark-mode-toggle-container {
        float: left;
        margin-top: 13px;
        margin-left: 12px;
    }

    /*#theme-switcher-form {
    width: 90px;
  }*/
} /* bigger screens */
